# Exercise: Lecture 14
## Writing an Input File
### October 18th, 2018

Write an input file for any coding project of yours that would benefit from one.

#### Example
We've been discussing Newton's method a little bit in this course.  You know that Newton's method requires a convergence tolerance, an initial guess, and a maximum iteration threshold.  These parameters could all be specified by the user through an input file.  We could design our software to read in the algorithmic parameters via an input file.

#### Requirements
* You must create a non-trivial input file
  - It can't simply have a one-line input
* The input file can be in any of the formats discussed in class: `JSON`, `XML`, `YAML`
* You must demo reading from the input file

In [7]:
import pandas as pd
import json
from pandas.io.json import json_normalize #package for flattening json in pandas df

#load json object
with open('user.json') as f:
    d = json.load(f)

user = json_normalize(d['users'])
user.head(3)

   age          name
0   25  Jaemin Cheun
1   30  David Sondak
2   24   Rachel Moon