In [1]:
import sqlite3
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
db = sqlite3.connect('L20DB_demo.sqlite')
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS candidates")
cursor.execute("DROP TABLE IF EXISTS contributors")
cursor.execute("PRAGMA foreign_keys=1")

cursor.execute('''CREATE TABLE candidates (
               id INTEGER PRIMARY KEY NOT NULL, 
               first_name TEXT, 
               last_name TEXT, 
               middle_init TEXT, 
               party TEXT NOT NULL)''')

db.commit() # Commit changes to the database

cursor.execute('''CREATE TABLE contributors (
          id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, 
          last_name TEXT, 
          first_name TEXT, 
          middle_name TEXT, 
          street_1 TEXT, 
          street_2 TEXT, 
          city TEXT, 
          state TEXT, 
          zip TEXT, 
          amount REAL, 
          date DATETIME, 
          candidate_id INTEGER NOT NULL, 
          FOREIGN KEY(candidate_id) REFERENCES candidates(id))''')

db.commit()

In [2]:
with open ("candidates.txt") as candidates:
    next(candidates) # jump over the header
    for line in candidates.readlines():
        cid, first_name, last_name, middle_name, party = line.strip().split('|')
        vals_to_insert = (int(cid), first_name, last_name, middle_name, party)
        cursor.execute('''INSERT INTO candidates 
                  (id, first_name, last_name, middle_init, party)
                  VALUES (?, ?, ?, ?, ?)''', vals_to_insert)

In [3]:
with open ("contributors.txt") as contributors:
    next(contributors)
    for line in contributors.readlines():
        cid, last_name, first_name, middle_name, street_1, street_2, \
            city, state, zip_code, amount, date, candidate_id = line.strip().split('|')
        vals_to_insert = (last_name, first_name, middle_name, street_1, street_2, 
                          city, state, int(zip_code), amount, date, candidate_id)
        cursor.execute('''INSERT INTO contributors (last_name, first_name, middle_name, 
                           street_1, street_2, city, state, zip, amount, date, candidate_id) 
                           VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)''', vals_to_insert)

In [4]:
def viz_tables(cols, query):
    q = cursor.execute(query).fetchall()
    framelist = dict()
    for i, col_name in enumerate(cols):
        framelist[col_name] = [col[i] for col in q]
    return pd.DataFrame.from_dict(framelist)

In [5]:
candidate_cols = [col[1] for col in cursor.execute("PRAGMA table_info(candidates)")]
query = '''SELECT * FROM candidates'''
viz_tables(candidate_cols, query)

    id   first_name   last_name middle_init party
0   16         Mike    Huckabee                 R
1   20       Barack       Obama                 D
2   22      Rudolph    Giuliani                 R
3   24         Mike      Gravel                 D
4   26         John     Edwards                 D
5   29         Bill  Richardson                 D
6   30       Duncan      Hunter                 R
7   31       Dennis    Kucinich                 D
8   32          Ron        Paul                 R
9   33       Joseph       Biden                 D
10  34      Hillary     Clinton          R.     D
11  35         Mitt      Romney                 R
12  36       Samuel   Brownback                 R
13  37         John      McCain                 R
14  38          Tom    Tancredo                 R
15  39  Christopher        Dodd          J.     D
16  41         Fred    Thompson          D.     R

In [6]:
query = '''SELECT * FROM candidates WHERE middle_init <> ""'''
viz_tables(candidate_cols, query)

   id   first_name last_name middle_init party
0  34      Hillary   Clinton          R.     D
1  39  Christopher      Dodd          J.     D
2  41         Fred  Thompson          D.     R

In [7]:
print("{} candidates have a middle initial.".format(viz_tables(candidate_cols, query).shape[0]))

3 candidates have a middle initial.

### Display the contributors where the state is "PA"

In [8]:
contributors_cols = [col[1] for col in cursor.execute("PRAGMA table_info(contributors)")]
query = '''SELECT * FROM contributors WHERE state="PA"'''
viz_tables(contributors_cols, query)

    id last_name first_name middle_name             street_1 street_2        city state        zip  amount        date  candidate_id
0   71   BUCKLEY     WALTER          W.    1635 COUNTRY ROAD            BETHLEHEM    PA  180155718  -100.0  2008-03-05            22
1   72   BUCKLEY   MARJORIE          B.    1635 COUNTRY ROAD            BETHLEHEM    PA  180155718  -100.0  2008-03-05            22
2   94    Raught     Philip           M        4714 Plum Way           Pittsburgh    PA      15201 -1046.0  2008-04-21            32
3   95   Ferrara     Judith           D  1508 Waterford Road              Yardley    PA      19067 -1100.0  2008-04-21            32
4  166      ABEL       JOHN          H.    422 THOMAS STREET            BETHLEHEM    PA  180153316   200.0  2008-01-22            37

### Display the contributors where the amount contributed is greater than  $1000.00 .

In [9]:
query = '''SELECT * FROM contributors WHERE amount > 1000'''
viz_tables(contributors_cols, query)

     id   last_name first_name middle_name                 street_1 street_2           city state        zip  amount        date  candidate_id
0     6        Akin       Mike                     181 Baywood Lane              Monticello    AR      71655  1500.0  2007-05-18            16
1    10       Allen    John D.               1052 Cannon Mill Drive           North Augusta    SC      29860  1300.0  2007-06-29            16
2    14       Altes       R.D.                      8600 Moody Road              Fort Smith    AR      72903  2300.0  2007-06-21            16
3    16     Anthony       John                211 Long Island Drive             Hot Springs    AR      71913  2300.0  2007-06-12            16
4    22       Baker      David               2550 Adamsbrooke Drive                  Conway    AR      72034  2300.0  2007-04-11            16
5    29      Buckel      Linda                        PO Box 683130               Park City    UT  840683130  2300.0  2007-08-14            20
6    31      Buckel      Linda                        PO Box 683130               Park City    UT  840683130  4600.0  2007-08-14            20
7    34        Buck     Blaine           M             45 Eaton Ave                  Camden    ME   48431752  2300.0  2007-09-30            20
8    46    Buchanan       John                      2025 NW 29th Rd              Boca Raton    FL  334316303  1300.0  2007-08-09            20
9   136  ABRAMOWITZ       NIRA                      411 HARBOR ROAD               SOUTHPORT    CT   68901376  2300.0  2007-09-14            35
10  160       ABATE      MARIA       ELENA  1291 NIGHTINGALE AVENUE           MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
11  175     ABRAHAM      SALEM          A.               P.O. BOX 7                CANADIAN    TX  790140007  1300.0  2008-01-30            37

### Display the contributors from "UT" where the amount contributed is greater than  $1000.00 .

In [10]:
query = '''SELECT * FROM contributors WHERE state="UT" and amount > 1000'''
viz_tables(contributors_cols, query)

   id last_name first_name middle_name       street_1 street_2       city state        zip  amount        date  candidate_id
0  29    Buckel      Linda              PO Box 683130           Park City    UT  840683130  2300.0  2007-08-14            20
1  31    Buckel      Linda              PO Box 683130           Park City    UT  840683130  4600.0  2007-08-14            20

### Display the contributors who didn't list their state

In [11]:
query = '''SELECT * FROM contributors WHERE (state is null or state="")'''
viz_tables(contributors_cols, query)

    id last_name first_name middle_name       street_1 street_2        city state   zip  amount        date  candidate_id
0  126    BOURNE     TRAVIS              LAGE KAART 77           BRASSCHATT        2930  -500.0  2008-11-20            35

### Display the contributors from "WA" and "PA"

In [12]:
query = '''SELECT * FROM contributors WHERE state IN ("WA", "PA")'''
viz_tables(contributors_cols, query)

    id last_name first_name middle_name                      street_1 street_2        city state        zip  amount        date  candidate_id
0   63     BURKE    SUZANNE          M.                 3401 EVANSTON              SEATTLE    WA  981038677  -700.0  2008-03-05            22
1   71   BUCKLEY     WALTER          W.             1635 COUNTRY ROAD            BETHLEHEM    PA  180155718  -100.0  2008-03-05            22
2   72   BUCKLEY   MARJORIE          B.             1635 COUNTRY ROAD            BETHLEHEM    PA  180155718  -100.0  2008-03-05            22
3   94    Raught     Philip           M                 4714 Plum Way           Pittsburgh    PA      15201 -1046.0  2008-04-21            32
4   95   Ferrara     Judith           D           1508 Waterford Road              Yardley    PA      19067 -1100.0  2008-04-21            32
5  101  Aaronson    Rebecca              2000 Village Green Dr Apt 12           Mill Creek    WA  980125787   100.0  2008-02-08            34
6  107  Aaronson    Rebecca              2000 Village Green Dr Apt 12           Mill Creek    WA  980125787   100.0  2008-02-14            34
7  166      ABEL       JOHN          H.             422 THOMAS STREET            BETHLEHEM    PA  180153316   200.0  2008-01-22            37

### Display the contributors who contributed between  \$100.00 and  \$200.00 .

In [13]:
query = '''SELECT * FROM contributors WHERE amount BETWEEN 100.00 and 200.00'''
viz_tables(contributors_cols, query)

     id  last_name first_name middle_name                      street_1 street_2             city state        zip  amount        date  candidate_id
0     4     Ahrens        Don                      4034 Rennellwood Way                Pleasanton    CA      94566   100.0  2007-06-21            16
1     5       Akin    Charles                    10187 Sugar Creek Road               Bentonville    AR      72712   100.0  2007-06-16            16
2    13    Allison    Rebecca                         3206 Summit Court               Little Rock    AR      72227   200.0  2007-06-12            16
3    18   Arbogast     Robert                   12900 State Route 56 SE            Mount Sterling    OH      43143   100.0  2007-06-22            16
4    28   Buckheit      Bruce                             8904 KAREN DR                   FAIRFAX    VA  220312731   100.0  2007-09-19            20
5    32       Buck     Thomas                       4206 Terrace Street               Kansas City    MO      64111   100.0  2007-09-25            20
6    33       Buck        Jay          K.   1855 Old Willow Rd Unit 322                Northfield    IL  600932918   200.0  2007-09-12            20
7    38     Bucher        Ida           M              1400 Warnall Ave               Los Angeles    CA  900245333   100.0  2007-07-10            20
8    47   Buchanan       John                           2025 NW 29th Rd                Boca Raton    FL  334316303   200.0  2007-08-14            20
9   101   Aaronson    Rebecca              2000 Village Green Dr Apt 12                Mill Creek    WA  980125787   100.0  2008-02-08            34
10  104     Aarons     Elaine                481 Buck Island Rd Apt 17A  APT 17A    West Yarmouth    MA   26733300   100.0  2008-02-08            34
11  106      Aaron    Shirley                            101 Cherry Ave                    Havana    FL  323331311   100.0  2008-02-29            34
12  107   Aaronson    Rebecca              2000 Village Green Dr Apt 12                Mill Creek    WA  980125787   100.0  2008-02-14            34
13  108      Aaron    Shirley                            101 Cherry Ave                    Havana    FL  323331311   100.0  2008-02-24            34
14  109      Aaron    Shirley                            101 Cherry Ave                    Havana    FL  323331311   100.0  2008-02-22            34
15  110      Aaron    Shirley                            101 Cherry Ave                    Havana    FL  323331311   100.0  2008-02-17            34
16  113      Aaron    Shirley                            101 Cherry Ave                    Havana    FL  323331311   100.0  2008-02-08            34
17  114      Aaron    Shirley                            101 Cherry Ave                    Havana    FL  323331311   100.0  2008-02-03            34
18  116      Aaron   Patricia                            418 NW 35th St             Oklahoma City    OK  731188602   200.0  2008-02-26            34
19  117      Aaron   Patricia                            418 NW 35th St             Oklahoma City    OK  731188602   100.0  2008-02-12            34
20  119      Aaron        Jim                          2178 Fairway Cir                    Canton    MI  481885097   200.0  2008-02-29            34
21  122      Aaron     Carole                               PO Box 1806                  Ogunquit    ME   39071806   100.0  2008-02-03            34
22  125   Aanonsen        Lin                           897 Raymond Ave                Saint Paul    MN  551141508   100.0  2008-02-08            34
23  130       ABTS      HENRY                            P. O. BOX 7299           INCLINE VILLAGE    NV  894527299   100.0  2007-07-13            35
24  134      ABREU      KEVIN          M.         1305 GARDEN GLEN LANE                  PEARLAND    TX  775816547   150.0  2007-08-09            35
25  147     ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E            SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35
26  149     ABBOTT     GERALD          F.            389 BENEFIT STREET                PROVIDENCE    RI   29032946   100.0  2007-09-15            35
27  150     ABBOTT     GERALD          F.            389 BENEFIT STREET                PROVIDENCE    RI   29032946   100.0  2007-08-15            35
28  154     ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET                 MONTCLAIR    CA  917632551   200.0  2008-01-31            37
29  155     ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET                 MONTCLAIR    CA  917632551   100.0  2008-01-08            37
30  158      ABBOT      DAVID          M.               56 SALEM STREET                   ANDOVER    MA   18102114   200.0  2008-01-21            37
31  162  ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD                   MENIFEE    CA  925849524   150.0  2008-01-28            37
32  166       ABEL       JOHN          H.             422 THOMAS STREET                 BETHLEHEM    PA  180153316   200.0  2008-01-22            37
33  167       ABEL    MARLING          L.          14 HANGING MOSS LANE                GREENVILLE    SC  296155069   100.0  2008-01-22            37
34  168       ABEL    RUDOLPH                          4532 OCEAN BLVD.    # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37
35  171   ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE                 FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37

## Step 3

### Sort the candidates table by last_name.

In [14]:
query = '''SELECT * FROM contributors ORDER BY last_name'''
viz_tables(contributors_cols, query)

      id   last_name   first_name middle_name                      street_1          street_2               city state        zip   amount        date  candidate_id
0    163      AARONS      CHARLES                          1730 SHORE DRIVE                            ANCHORAGE    AK  995153207   300.00  2008-01-30            37
1    164      AARONS      CHARLES                          1730 SHORE DRIVE                            ANCHORAGE    AK  995153207   410.00  2008-01-15            37
2    165      AARONS      CHARLES                          1730 SHORE DRIVE                            ANCHORAGE    AK  995153207   500.00  2008-01-09            37
3    162   ABACHERLI      SHIRLEY          M.            29875 NEWPORT ROAD                              MENIFEE    CA  925849524   150.00  2008-01-28            37
4    161       ABAIR        PETER                           40 EVANS STREET                            WATERTOWN    MA   24722150    25.00  2008-01-09            37
5    160       ABATE        MARIA       ELENA       1291 NIGHTINGALE AVENUE                        MIAMI SPRINGS    FL  331663832  2600.00  2008-01-25            37
6    159        ABBO      PAULINE     MORENCY              10720 JACOB LANE                           WHITE LAKE    MI  483862274    35.00  2008-01-07            37
7    158       ABBOT        DAVID          M.               56 SALEM STREET                              ANDOVER    MA   18102114   200.00  2008-01-21            37
8    147      ABBOTT       WELDON          S.     777 EAST SOUTH TEMPLE  4E                       SALT LAKE CITY    UT  841021269   100.00  2007-09-29            35
9    148      ABBOTT       WELDON          S.     777 EAST SOUTH TEMPLE  4E                       SALT LAKE CITY    UT  841021269    50.00  2007-08-09            35
10   149      ABBOTT       GERALD          F.            389 BENEFIT STREET                           PROVIDENCE    RI   29032946   100.00  2007-09-15            35
11   150      ABBOTT       GERALD          F.            389 BENEFIT STREET                           PROVIDENCE    RI   29032946   100.00  2007-08-15            35
12   152      ABBOTT        SYBIL          F.               446 GAMES DRIVE                                 RENO    NV  895093326    75.00  2008-01-08            37
13   153      ABBOTT        SYBIL          F.               446 GAMES DRIVE                                 RENO    NV  895093326    50.00  2008-01-08            37
14   154      ABBOTT       RONALD     LEANDER         5453 HAWTHORNE STREET                            MONTCLAIR    CA  917632551   200.00  2008-01-31            37
15   155      ABBOTT       RONALD     LEANDER         5453 HAWTHORNE STREET                            MONTCLAIR    CA  917632551   100.00  2008-01-08            37
16   156      ABBOTT       ROBERT          A.               3061 LOREE ROAD                          DECKERVILLE    MI  484279763   500.00  2008-01-21            37
17   157      ABBOTT         MIKE          E.              4516 OSPREY LNDG                            NICEVILLE    FL  325786810  1000.00  2008-01-15            37
18   146     ABDELLA       THOMAS          M.   4231 MONUMENT WALL WAY #340                              FAIRFAX    VA  220308440    50.00  2007-09-30            35
19   151      ABEDIN       ZAINUL                     715 N. CENTRAL AVENUE         SUITE 212           GLENDALE    CA  912031164   500.00  2008-01-21            37
20   140       ABEGG     PATRICIA          T.               1862 E. 5150 S.                       SALT LAKE CITY    UT  841176911    75.00  2007-09-25            35
21   141       ABEGG     PATRICIA          T.               1862 E. 5150 S.                       SALT LAKE CITY    UT  841176911    25.00  2007-09-17            35
22   142       ABEGG     PATRICIA          T.               1862 E. 5150 S.                       SALT LAKE CITY    UT  841176911    75.00  2007-08-31            35
23   143       ABEGG     PATRICIA          T.               1862 E. 5150 S.                       SALT LAKE CITY    UT  841176911    75.00  2007-08-14            35
24   144       ABEGG     PATRICIA          T.               1862 E. 5150 S.                       SALT LAKE CITY    UT  841176911    25.00  2007-08-06            35
25   145       ABEGG     PATRICIA          T.               1862 E. 5150 S.                       SALT LAKE CITY    UT  841176911    25.00  2007-07-10            35
26   166        ABEL         JOHN          H.             422 THOMAS STREET                            BETHLEHEM    PA  180153316   200.00  2008-01-22            37
27   167        ABEL      MARLING          L.          14 HANGING MOSS LANE                           GREENVILLE    SC  296155069   100.00  2008-01-22            37
28   168        ABEL      RUDOLPH                          4532 OCEAN BLVD.             # 108           SARASOTA    FL  342421337   100.00  2008-01-08            37
29   169       ABELE       RODNEY              3620 METAIRIE HEIGHTS AVENUE                             METAIRIE    LA  700021823   500.00  2008-01-15            37
..   ...         ...          ...         ...                           ...               ...                ...   ...        ...      ...         ...           ...
145   27     Buckler        Steve                           24351 Armada Dr                           Dana Point    CA  926291306    25.00  2007-08-16            20
146   99        Choe    Hyeokchan                            207 Bridle Way                             Fort Lee    NJ   70246302   -39.50  2008-04-21            32
147   88      Duryea       Marcia          A.               123 Bayview Ave                           Amityville    NY      11701  -299.50  2008-04-21            32
148   86  Eskenberry       Robert           P                10960 Gray Cir                          Westminster    CO      80020  -223.00  2008-04-21            32
149   95     Ferrara       Judith           D           1508 Waterford Road                              Yardley    PA      19067 -1100.00  2008-04-21            32
150   87   Froehling         Alan          L.               302 Broadway St                         Mount Vernon    IL  628645116  -844.80  2008-04-21            32
151   98     Gaarder        Bruce                               PO Box 4085                    Mountain Home AFB    ID      83648  -261.00  2008-04-21            32
152   50    Harrison         Ryan                               2247 3rd St                             La Verne    CA  917504918    25.00  2007-07-26            20
153   77       Hobbs        James                           229 Cherry Lane                          White House    TN      37188   -25.00  2008-08-19            32
154  100      Jacobs      Richard          G.                14337 Tawya Rd                         Apple Valley    CA  923075545 -1000.00  2008-04-21            32
155   96     Johnson     Cathleen          E.       1003 Justin Ln Apt 2016                               Austin    TX  787572648   -14.76  2008-04-21            32
156   91       Kazor  Christopher           M           707 Spindletree ave                           Naperville    IL      60565 -2592.00  2008-04-21            32
157   83       Kuehn        David                    14502 West 93rd Street                               Lenexa    KS      66215  -330.00  2008-04-21            32
158   92      Lehner       Thomas          S.                2701 Star Lane                            Wadsworth    OH      44281  -200.00  2008-04-21            32
159   80        Muse         Nina          Jo           2915 Toro Canyon Rd                               Austin    TX      78746   -50.00  2008-04-21            32
160   79     Nystrom      Michael           A           93A Fairmont Street                            Arlington    MA       2474  -503.00  2008-04-21            32
161   89   Perreault       Louise                 503 Brockridge Hunt Drive                              Hampton    VA      23666   -34.08  2008-04-21            32
162   93     Plummer       Joseph                         587 Blake Hill Rd                          New Hampton    NH   32564424   -24.60  2008-04-21            32
163   78   Ranganath        Anoop                        2507 Willard Drive                      Charlottesville    VA      22903  -100.00  2008-04-21            32
164   94      Raught       Philip           M                 4714 Plum Way                           Pittsburgh    PA      15201 -1046.00  2008-04-21            32
165  112       Reich       Thomas                              499 Park Ave                             New York    NY  100221240 -2300.00  2008-08-28            34
166  111        Reid    Elizabeth                            73 W Patent Rd  OPHIR FARM NORTH      Bedford Hills    NY  105072222  -350.00  2008-08-28            34
167   90   Rozenfeld        Timur                           57 Herbert Road                         Robbinsville    NJ       8691  -777.95  2008-04-21            32
168  127     SECRIST        BRIAN          L.             3 MULE DEER TRAIL                            LITTLETON    CO  801275722 -1000.00  2008-04-07            35
169   97     Sanford      Bradley                           940 Post St #43                        San Francisco    CA      94109   -24.53  2008-04-21            32
170   76      Schuff        Bryan                          1700 W Sweden Rd                            Brockport    NY      14420   -25.00  2008-08-22            32
171  128  TOLLESTRUP       TRAVIS          W.           16331 WINECREEK RD.                            SAN DIEGO    CA      92127 -1000.00  2008-05-15            35
172   85     Uihlein      Richard                        1396 N Waukegan Rd                          Lake Forest    IL  600451147 -2300.00  2008-04-21            32
173   84     Verster     Jeanette          M.               7220 SW 61st St                                Miami    FL  331431807 -1000.00  2008-04-21            32
174   81     Waddell        James          L.             1823 Spel Lane SW                            Rochester    MN      55902   -28.00  2008-04-21            32

[175 rows x 12 columns]

### Sort by the amount in decending order where amount is restricted to be between  $1000.00  and  $5000.00 .

In [15]:
query = '''SELECT * FROM contributors WHERE amount BETWEEN 1000.00 and 5000.00 ORDER BY amount DESC'''
viz_tables(contributors_cols, query)

     id   last_name first_name middle_name                 street_1 street_2            city state        zip  amount        date  candidate_id
0    31      Buckel      Linda                        PO Box 683130                Park City    UT  840683130  4600.0  2007-08-14            20
1   160       ABATE      MARIA       ELENA  1291 NIGHTINGALE AVENUE            MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
2    14       Altes       R.D.                      8600 Moody Road               Fort Smith    AR      72903  2300.0  2007-06-21            16
3    16     Anthony       John                211 Long Island Drive              Hot Springs    AR      71913  2300.0  2007-06-12            16
4    22       Baker      David               2550 Adamsbrooke Drive                   Conway    AR      72034  2300.0  2007-04-11            16
5    29      Buckel      Linda                        PO Box 683130                Park City    UT  840683130  2300.0  2007-08-14            20
6    34        Buck     Blaine           M             45 Eaton Ave                   Camden    ME   48431752  2300.0  2007-09-30            20
7   136  ABRAMOWITZ       NIRA                      411 HARBOR ROAD                SOUTHPORT    CT   68901376  2300.0  2007-09-14            35
8     6        Akin       Mike                     181 Baywood Lane               Monticello    AR      71655  1500.0  2007-05-18            16
9    10       Allen    John D.               1052 Cannon Mill Drive            North Augusta    SC      29860  1300.0  2007-06-29            16
10   46    Buchanan       John                      2025 NW 29th Rd               Boca Raton    FL  334316303  1300.0  2007-08-09            20
11  175     ABRAHAM      SALEM          A.               P.O. BOX 7                 CANADIAN    TX  790140007  1300.0  2008-01-30            37
12    9       Allen    John D.               1052 Cannon Mill Drive            North Augusta    SC      29860  1000.0  2007-06-11            16
13   11     Allison    John W.                        P.O. Box 1089                   Conway    AR      72033  1000.0  2007-05-18            16
14   12     Allison    Rebecca                    3206 Summit Court              Little Rock    AR      72227  1000.0  2007-04-25            16
15   20        Atiq       Omar                  7200 S Hazel Street               Pine Bluff    AR      71603  1000.0  2007-05-18            16
16   21        Atiq       Omar                  7200 S Hazel Street               Pine Bluff    AR      71603  1000.0  2007-06-27            16
17   24       Banks    Charles                      P.O. Box 251310              Little Rock    AR      72225  1000.0  2007-05-14            16
18   45    Buchanan       John                      2025 NW 29th Rd               Boca Raton    FL  334316303  1000.0  2007-08-28            20
19  123       Aaron    Barbara                 2298 Pacific Ave # 6            San Francisco    CA  941151435  1000.0  2008-02-11            34
20  139  ABOUBAKARE      NASAR                1400 SAN MIGUEL DRIVE           CORONA DEL MAR    CA  926251300  1000.0  2007-07-09            35
21  157      ABBOTT       MIKE          E.         4516 OSPREY LNDG                NICEVILLE    FL  325786810  1000.0  2008-01-15            37
22  174     ABRAHAM      SALEM          A.               P.O. BOX 7                 CANADIAN    TX  790140007  1000.0  2008-01-17            37

### Sort the contributors who donted between  $1000.00  and  $5000.00  by candidate_id and then by amount in descending order.

In [16]:
query = '''SELECT * FROM contributors WHERE amount BETWEEN 1000.00 and 5000.00 ORDER BY candidate_id, amount DESC'''
viz_tables(contributors_cols, query)

     id   last_name first_name middle_name                 street_1 street_2            city state        zip  amount        date  candidate_id
0    14       Altes       R.D.                      8600 Moody Road               Fort Smith    AR      72903  2300.0  2007-06-21            16
1    16     Anthony       John                211 Long Island Drive              Hot Springs    AR      71913  2300.0  2007-06-12            16
2    22       Baker      David               2550 Adamsbrooke Drive                   Conway    AR      72034  2300.0  2007-04-11            16
3     6        Akin       Mike                     181 Baywood Lane               Monticello    AR      71655  1500.0  2007-05-18            16
4    10       Allen    John D.               1052 Cannon Mill Drive            North Augusta    SC      29860  1300.0  2007-06-29            16
5     9       Allen    John D.               1052 Cannon Mill Drive            North Augusta    SC      29860  1000.0  2007-06-11            16
6    11     Allison    John W.                        P.O. Box 1089                   Conway    AR      72033  1000.0  2007-05-18            16
7    12     Allison    Rebecca                    3206 Summit Court              Little Rock    AR      72227  1000.0  2007-04-25            16
8    20        Atiq       Omar                  7200 S Hazel Street               Pine Bluff    AR      71603  1000.0  2007-05-18            16
9    21        Atiq       Omar                  7200 S Hazel Street               Pine Bluff    AR      71603  1000.0  2007-06-27            16
10   24       Banks    Charles                      P.O. Box 251310              Little Rock    AR      72225  1000.0  2007-05-14            16
11   31      Buckel      Linda                        PO Box 683130                Park City    UT  840683130  4600.0  2007-08-14            20
12   29      Buckel      Linda                        PO Box 683130                Park City    UT  840683130  2300.0  2007-08-14            20
13   34        Buck     Blaine           M             45 Eaton Ave                   Camden    ME   48431752  2300.0  2007-09-30            20
14   46    Buchanan       John                      2025 NW 29th Rd               Boca Raton    FL  334316303  1300.0  2007-08-09            20
15   45    Buchanan       John                      2025 NW 29th Rd               Boca Raton    FL  334316303  1000.0  2007-08-28            20
16  123       Aaron    Barbara                 2298 Pacific Ave # 6            San Francisco    CA  941151435  1000.0  2008-02-11            34
17  136  ABRAMOWITZ       NIRA                      411 HARBOR ROAD                SOUTHPORT    CT   68901376  2300.0  2007-09-14            35
18  139  ABOUBAKARE      NASAR                1400 SAN MIGUEL DRIVE           CORONA DEL MAR    CA  926251300  1000.0  2007-07-09            35
19  160       ABATE      MARIA       ELENA  1291 NIGHTINGALE AVENUE            MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37
20  175     ABRAHAM      SALEM          A.               P.O. BOX 7                 CANADIAN    TX  790140007  1300.0  2008-01-30            37
21  157      ABBOTT       MIKE          E.         4516 OSPREY LNDG                NICEVILLE    FL  325786810  1000.0  2008-01-15            37
22  174     ABRAHAM      SALEM          A.               P.O. BOX 7                 CANADIAN    TX  790140007  1000.0  2008-01-17            37

## Step 4

### Get the first and last name of contributors. Make sure each row has distinct values.

In [17]:
query = '''SELECT DISTINCT first_name, last_name FROM contributors '''
viz_tables(['first_name', 'last_name'], query)

    first_name    last_name
0       Steven         Agee
1          Don       Ahrens
2      Charles         Akin
3         Mike         Akin
4      Rebecca         Akin
5      Brittni     Aldridge
6      John D.        Allen
7      John W.      Allison
8      Rebecca      Allison
9         R.D.        Altes
10        Dale       Andres
11        John      Anthony
12      Robert     Arbogast
13     William        Ardle
14        Omar         Atiq
15       David        Baker
16       David     Bancroft
17     Charles        Banks
18        John       Barbee
19       Steve      Buckler
20       Bruce     Buckheit
21       Linda       Buckel
22      Thomas         Buck
23         Jay         Buck
24      Blaine         Buck
25     Barbara         Buck
26      Mark M      Buchman
27         Ida       Bucher
28   Elizabeth     Buchanek
29        John     Buchanan
..         ...          ...
96       DIANA      ABSHIER
97       KEVIN        ABREU
98        NIRA   ABRAMOWITZ
99     MICHAEL       ABRAMS
100        KEN   ABRAMOWITZ
101      NASAR   ABOUBAKARE
102   PATRICIA        ABEGG
103     THOMAS      ABDELLA
104     WELDON       ABBOTT
105     GERALD       ABBOTT
106     ZAINUL       ABEDIN
107      SYBIL       ABBOTT
108     RONALD       ABBOTT
109     ROBERT       ABBOTT
110       MIKE       ABBOTT
111      DAVID        ABBOT
112    PAULINE         ABBO
113      MARIA        ABATE
114      PETER        ABAIR
115    SHIRLEY    ABACHERLI
116    CHARLES       AARONS
117       JOHN         ABEL
118    MARLING         ABEL
119    RUDOLPH         ABEL
120     RODNEY        ABELE
121      DENIS  ABERCROMBIE
122    MERRILL     ABESHAUS
123     GEORGE      ABRAHAM
124      PETER   ABRAHAMSON
125      SALEM      ABRAHAM

[126 rows x 2 columns]

## Step 5

### Add a new column to the contributors table called full_name. The value in that column should be in the form last_name, first_name.

In [19]:
contributors_cols = [col[1] for col in cursor.execute("PRAGMA table_info(contributors)")]
query = '''SELECT id, last_name, first_name FROM contributors'''
full_name_and_id = [(attr[1] + ", " + attr[2], attr[0]) for attr in cursor.execute(query).fetchall()] # List of tuples: (full_name, id)
update = '''UPDATE contributors SET full_name = ? WHERE id = ?'''
for rows in full_name_and_id:
    cursor.execute(update, rows)
query = '''SELECT * FROM contributors'''
viz_tables(contributors_cols, query)

      id    last_name first_name middle_name                      street_1   street_2             city state        zip  amount        date  candidate_id           full_name
0      1         Agee     Steven                    549 Laurel Branch Road                       Floyd    VA      24091   500.0  2007-06-30            16        Agee, Steven
1      2       Ahrens        Don                      4034 Rennellwood Way                  Pleasanton    CA      94566   250.0  2007-05-16            16         Ahrens, Don
2      3       Ahrens        Don                      4034 Rennellwood Way                  Pleasanton    CA      94566    50.0  2007-06-18            16         Ahrens, Don
3      4       Ahrens        Don                      4034 Rennellwood Way                  Pleasanton    CA      94566   100.0  2007-06-21            16         Ahrens, Don
4      5         Akin    Charles                    10187 Sugar Creek Road                 Bentonville    AR      72712   100.0  2007-06-16            16       Akin, Charles
5      6         Akin       Mike                          181 Baywood Lane                  Monticello    AR      71655  1500.0  2007-05-18            16          Akin, Mike
6      7         Akin    Rebecca                          181 Baywood Lane                  Monticello    AR      71655   500.0  2007-05-18            16       Akin, Rebecca
7      8     Aldridge    Brittni              808 Capitol Square Place, SW                  Washington    DC      20024   250.0  2007-06-06            16   Aldridge, Brittni
8      9        Allen    John D.                    1052 Cannon Mill Drive               North Augusta    SC      29860  1000.0  2007-06-11            16      Allen, John D.
9     10        Allen    John D.                    1052 Cannon Mill Drive               North Augusta    SC      29860  1300.0  2007-06-29            16      Allen, John D.
10    11      Allison    John W.                             P.O. Box 1089                      Conway    AR      72033  1000.0  2007-05-18            16    Allison, John W.
11    12      Allison    Rebecca                         3206 Summit Court                 Little Rock    AR      72227  1000.0  2007-04-25            16    Allison, Rebecca
12    13      Allison    Rebecca                         3206 Summit Court                 Little Rock    AR      72227   200.0  2007-06-12            16    Allison, Rebecca
13    14        Altes       R.D.                           8600 Moody Road                  Fort Smith    AR      72903  2300.0  2007-06-21            16         Altes, R.D.
14    15       Andres       Dale                      1160 Glen Oaks Drive             West Des Moines    IA      50266   250.0  2007-06-06            16        Andres, Dale
15    16      Anthony       John                     211 Long Island Drive                 Hot Springs    AR      71913  2300.0  2007-06-12            16       Anthony, John
16    17     Arbogast     Robert                   12900 State Route 56 SE              Mount Sterling    OH      43143   500.0  2007-04-08            16    Arbogast, Robert
17    18     Arbogast     Robert                   12900 State Route 56 SE              Mount Sterling    OH      43143   100.0  2007-06-22            16    Arbogast, Robert
18    19        Ardle    William                         412 Dakota Avenue                 Springfield    OH      45504    50.0  2007-06-28            16      Ardle, William
19    20         Atiq       Omar                       7200 S Hazel Street                  Pine Bluff    AR      71603  1000.0  2007-05-18            16          Atiq, Omar
20    21         Atiq       Omar                       7200 S Hazel Street                  Pine Bluff    AR      71603  1000.0  2007-06-27            16          Atiq, Omar
21    22        Baker      David                    2550 Adamsbrooke Drive                      Conway    AR      72034  2300.0  2007-04-11            16        Baker, David
22    23     Bancroft      David                     2934 Broderick Street               San Francisco    CA      94123   250.0  2007-04-24            16     Bancroft, David
23    24        Banks    Charles                           P.O. Box 251310                 Little Rock    AR      72225  1000.0  2007-05-14            16      Banks, Charles
24    25       Barbee       John                      516 Kellyridge Drive                        Apex    NC      27502   500.0  2007-05-23            16        Barbee, John
25    26      Buckler      Steve                           24351 Armada Dr                  Dana Point    CA  926291306    50.0  2007-07-30            20      Buckler, Steve
26    27      Buckler      Steve                           24351 Armada Dr                  Dana Point    CA  926291306    25.0  2007-08-16            20      Buckler, Steve
27    28     Buckheit      Bruce                             8904 KAREN DR                     FAIRFAX    VA  220312731   100.0  2007-09-19            20     Buckheit, Bruce
28    29       Buckel      Linda                             PO Box 683130                   Park City    UT  840683130  2300.0  2007-08-14            20       Buckel, Linda
29    30       Buckel      Linda                             PO Box 683130                   Park City    UT  840683130 -2300.0  2007-08-14            20       Buckel, Linda
..   ...          ...        ...         ...                           ...        ...              ...   ...        ...     ...         ...           ...                 ...
145  146      ABDELLA     THOMAS          M.   4231 MONUMENT WALL WAY #340                     FAIRFAX    VA  220308440    50.0  2007-09-30            35     ABDELLA, THOMAS
146  147       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E              SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35      ABBOTT, WELDON
147  148       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E              SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35      ABBOTT, WELDON
148  149       ABBOTT     GERALD          F.            389 BENEFIT STREET                  PROVIDENCE    RI   29032946   100.0  2007-09-15            35      ABBOTT, GERALD
149  150       ABBOTT     GERALD          F.            389 BENEFIT STREET                  PROVIDENCE    RI   29032946   100.0  2007-08-15            35      ABBOTT, GERALD
150  151       ABEDIN     ZAINUL                     715 N. CENTRAL AVENUE  SUITE 212         GLENDALE    CA  912031164   500.0  2008-01-21            37      ABEDIN, ZAINUL
151  152       ABBOTT      SYBIL          F.               446 GAMES DRIVE                        RENO    NV  895093326    75.0  2008-01-08            37       ABBOTT, SYBIL
152  153       ABBOTT      SYBIL          F.               446 GAMES DRIVE                        RENO    NV  895093326    50.0  2008-01-08            37       ABBOTT, SYBIL
153  154       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET                   MONTCLAIR    CA  917632551   200.0  2008-01-31            37      ABBOTT, RONALD
154  155       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET                   MONTCLAIR    CA  917632551   100.0  2008-01-08            37      ABBOTT, RONALD
155  156       ABBOTT     ROBERT          A.               3061 LOREE ROAD                 DECKERVILLE    MI  484279763   500.0  2008-01-21            37      ABBOTT, ROBERT
156  157       ABBOTT       MIKE          E.              4516 OSPREY LNDG                   NICEVILLE    FL  325786810  1000.0  2008-01-15            37        ABBOTT, MIKE
157  158        ABBOT      DAVID          M.               56 SALEM STREET                     ANDOVER    MA   18102114   200.0  2008-01-21            37        ABBOT, DAVID
158  159         ABBO    PAULINE     MORENCY              10720 JACOB LANE                  WHITE LAKE    MI  483862274    35.0  2008-01-07            37       ABBO, PAULINE
159  160        ABATE      MARIA       ELENA       1291 NIGHTINGALE AVENUE               MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37        ABATE, MARIA
160  161        ABAIR      PETER                           40 EVANS STREET                   WATERTOWN    MA   24722150    25.0  2008-01-09            37        ABAIR, PETER
161  162    ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD                     MENIFEE    CA  925849524   150.0  2008-01-28            37  ABACHERLI, SHIRLEY
162  163       AARONS    CHARLES                          1730 SHORE DRIVE                   ANCHORAGE    AK  995153207   300.0  2008-01-30            37     AARONS, CHARLES
163  164       AARONS    CHARLES                          1730 SHORE DRIVE                   ANCHORAGE    AK  995153207   410.0  2008-01-15            37     AARONS, CHARLES
164  165       AARONS    CHARLES                          1730 SHORE DRIVE                   ANCHORAGE    AK  995153207   500.0  2008-01-09            37     AARONS, CHARLES
165  166         ABEL       JOHN          H.             422 THOMAS STREET                   BETHLEHEM    PA  180153316   200.0  2008-01-22            37          ABEL, JOHN
166  167         ABEL    MARLING          L.          14 HANGING MOSS LANE                  GREENVILLE    SC  296155069   100.0  2008-01-22            37       ABEL, MARLING
167  168         ABEL    RUDOLPH                          4532 OCEAN BLVD.      # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37       ABEL, RUDOLPH
168  169        ABELE     RODNEY              3620 METAIRIE HEIGHTS AVENUE                    METAIRIE    LA  700021823   500.0  2008-01-15            37       ABELE, RODNEY
169  170  ABERCROMBIE      DENIS                        11811 WATER OAK CT                    MAGNOLIA    TX  773546270   500.0  2008-01-30            37  ABERCROMBIE, DENIS
170  171     ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE                   FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37   ABESHAUS, MERRILL
171  172      ABRAHAM     GEORGE                             P.O. BOX 1504                LAKE CHARLES    LA  706021504   800.0  2008-01-17            37     ABRAHAM, GEORGE
172  173   ABRAHAMSON      PETER          J.         1030 W. ROSCOE STREET                     CHICAGO    IL  606572207    50.0  2008-01-25            37   ABRAHAMSON, PETER
173  174      ABRAHAM      SALEM          A.                    P.O. BOX 7                    CANADIAN    TX  790140007  1000.0  2008-01-17            37      ABRAHAM, SALEM
174  175      ABRAHAM      SALEM          A.                    P.O. BOX 7                    CANADIAN    TX  790140007  1300.0  2008-01-30            37      ABRAHAM, SALEM

[175 rows x 13 columns]

### Change the value in the full_name column to the string "Too Much" if someone donated more than  $1000.00 .

In [20]:
contributors_cols = [col[1] for col in cursor.execute("PRAGMA table_info(contributors)")]
query = '''SELECT id, last_name, first_name FROM contributors'''
full_name_and_id = [(attr[1] + ", " + attr[2], attr[0]) for attr in cursor.execute(query).fetchall()] # List of tuples: (full_name, id)
update = '''UPDATE contributors SET full_name = ? WHERE id = ?'''
for rows in full_name_and_id:
    cursor.execute(update, rows)
query = '''SELECT * FROM contributors'''
update = '''UPDATE contributors SET full_name = "Too Much" WHERE amount > 1000.00'''
cursor.execute(update)

viz_tables(contributors_cols, query)

      id    last_name first_name middle_name                      street_1   street_2             city state        zip  amount        date  candidate_id           full_name
0      1         Agee     Steven                    549 Laurel Branch Road                       Floyd    VA      24091   500.0  2007-06-30            16        Agee, Steven
1      2       Ahrens        Don                      4034 Rennellwood Way                  Pleasanton    CA      94566   250.0  2007-05-16            16         Ahrens, Don
2      3       Ahrens        Don                      4034 Rennellwood Way                  Pleasanton    CA      94566    50.0  2007-06-18            16         Ahrens, Don
3      4       Ahrens        Don                      4034 Rennellwood Way                  Pleasanton    CA      94566   100.0  2007-06-21            16         Ahrens, Don
4      5         Akin    Charles                    10187 Sugar Creek Road                 Bentonville    AR      72712   100.0  2007-06-16            16       Akin, Charles
5      6         Akin       Mike                          181 Baywood Lane                  Monticello    AR      71655  1500.0  2007-05-18            16            Too Much
6      7         Akin    Rebecca                          181 Baywood Lane                  Monticello    AR      71655   500.0  2007-05-18            16       Akin, Rebecca
7      8     Aldridge    Brittni              808 Capitol Square Place, SW                  Washington    DC      20024   250.0  2007-06-06            16   Aldridge, Brittni
8      9        Allen    John D.                    1052 Cannon Mill Drive               North Augusta    SC      29860  1000.0  2007-06-11            16      Allen, John D.
9     10        Allen    John D.                    1052 Cannon Mill Drive               North Augusta    SC      29860  1300.0  2007-06-29            16            Too Much
10    11      Allison    John W.                             P.O. Box 1089                      Conway    AR      72033  1000.0  2007-05-18            16    Allison, John W.
11    12      Allison    Rebecca                         3206 Summit Court                 Little Rock    AR      72227  1000.0  2007-04-25            16    Allison, Rebecca
12    13      Allison    Rebecca                         3206 Summit Court                 Little Rock    AR      72227   200.0  2007-06-12            16    Allison, Rebecca
13    14        Altes       R.D.                           8600 Moody Road                  Fort Smith    AR      72903  2300.0  2007-06-21            16            Too Much
14    15       Andres       Dale                      1160 Glen Oaks Drive             West Des Moines    IA      50266   250.0  2007-06-06            16        Andres, Dale
15    16      Anthony       John                     211 Long Island Drive                 Hot Springs    AR      71913  2300.0  2007-06-12            16            Too Much
16    17     Arbogast     Robert                   12900 State Route 56 SE              Mount Sterling    OH      43143   500.0  2007-04-08            16    Arbogast, Robert
17    18     Arbogast     Robert                   12900 State Route 56 SE              Mount Sterling    OH      43143   100.0  2007-06-22            16    Arbogast, Robert
18    19        Ardle    William                         412 Dakota Avenue                 Springfield    OH      45504    50.0  2007-06-28            16      Ardle, William
19    20         Atiq       Omar                       7200 S Hazel Street                  Pine Bluff    AR      71603  1000.0  2007-05-18            16          Atiq, Omar
20    21         Atiq       Omar                       7200 S Hazel Street                  Pine Bluff    AR      71603  1000.0  2007-06-27            16          Atiq, Omar
21    22        Baker      David                    2550 Adamsbrooke Drive                      Conway    AR      72034  2300.0  2007-04-11            16            Too Much
22    23     Bancroft      David                     2934 Broderick Street               San Francisco    CA      94123   250.0  2007-04-24            16     Bancroft, David
23    24        Banks    Charles                           P.O. Box 251310                 Little Rock    AR      72225  1000.0  2007-05-14            16      Banks, Charles
24    25       Barbee       John                      516 Kellyridge Drive                        Apex    NC      27502   500.0  2007-05-23            16        Barbee, John
25    26      Buckler      Steve                           24351 Armada Dr                  Dana Point    CA  926291306    50.0  2007-07-30            20      Buckler, Steve
26    27      Buckler      Steve                           24351 Armada Dr                  Dana Point    CA  926291306    25.0  2007-08-16            20      Buckler, Steve
27    28     Buckheit      Bruce                             8904 KAREN DR                     FAIRFAX    VA  220312731   100.0  2007-09-19            20     Buckheit, Bruce
28    29       Buckel      Linda                             PO Box 683130                   Park City    UT  840683130  2300.0  2007-08-14            20            Too Much
29    30       Buckel      Linda                             PO Box 683130                   Park City    UT  840683130 -2300.0  2007-08-14            20       Buckel, Linda
..   ...          ...        ...         ...                           ...        ...              ...   ...        ...     ...         ...           ...                 ...
145  146      ABDELLA     THOMAS          M.   4231 MONUMENT WALL WAY #340                     FAIRFAX    VA  220308440    50.0  2007-09-30            35     ABDELLA, THOMAS
146  147       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E              SALT LAKE CITY    UT  841021269   100.0  2007-09-29            35      ABBOTT, WELDON
147  148       ABBOTT     WELDON          S.     777 EAST SOUTH TEMPLE  4E              SALT LAKE CITY    UT  841021269    50.0  2007-08-09            35      ABBOTT, WELDON
148  149       ABBOTT     GERALD          F.            389 BENEFIT STREET                  PROVIDENCE    RI   29032946   100.0  2007-09-15            35      ABBOTT, GERALD
149  150       ABBOTT     GERALD          F.            389 BENEFIT STREET                  PROVIDENCE    RI   29032946   100.0  2007-08-15            35      ABBOTT, GERALD
150  151       ABEDIN     ZAINUL                     715 N. CENTRAL AVENUE  SUITE 212         GLENDALE    CA  912031164   500.0  2008-01-21            37      ABEDIN, ZAINUL
151  152       ABBOTT      SYBIL          F.               446 GAMES DRIVE                        RENO    NV  895093326    75.0  2008-01-08            37       ABBOTT, SYBIL
152  153       ABBOTT      SYBIL          F.               446 GAMES DRIVE                        RENO    NV  895093326    50.0  2008-01-08            37       ABBOTT, SYBIL
153  154       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET                   MONTCLAIR    CA  917632551   200.0  2008-01-31            37      ABBOTT, RONALD
154  155       ABBOTT     RONALD     LEANDER         5453 HAWTHORNE STREET                   MONTCLAIR    CA  917632551   100.0  2008-01-08            37      ABBOTT, RONALD
155  156       ABBOTT     ROBERT          A.               3061 LOREE ROAD                 DECKERVILLE    MI  484279763   500.0  2008-01-21            37      ABBOTT, ROBERT
156  157       ABBOTT       MIKE          E.              4516 OSPREY LNDG                   NICEVILLE    FL  325786810  1000.0  2008-01-15            37        ABBOTT, MIKE
157  158        ABBOT      DAVID          M.               56 SALEM STREET                     ANDOVER    MA   18102114   200.0  2008-01-21            37        ABBOT, DAVID
158  159         ABBO    PAULINE     MORENCY              10720 JACOB LANE                  WHITE LAKE    MI  483862274    35.0  2008-01-07            37       ABBO, PAULINE
159  160        ABATE      MARIA       ELENA       1291 NIGHTINGALE AVENUE               MIAMI SPRINGS    FL  331663832  2600.0  2008-01-25            37            Too Much
160  161        ABAIR      PETER                           40 EVANS STREET                   WATERTOWN    MA   24722150    25.0  2008-01-09            37        ABAIR, PETER
161  162    ABACHERLI    SHIRLEY          M.            29875 NEWPORT ROAD                     MENIFEE    CA  925849524   150.0  2008-01-28            37  ABACHERLI, SHIRLEY
162  163       AARONS    CHARLES                          1730 SHORE DRIVE                   ANCHORAGE    AK  995153207   300.0  2008-01-30            37     AARONS, CHARLES
163  164       AARONS    CHARLES                          1730 SHORE DRIVE                   ANCHORAGE    AK  995153207   410.0  2008-01-15            37     AARONS, CHARLES
164  165       AARONS    CHARLES                          1730 SHORE DRIVE                   ANCHORAGE    AK  995153207   500.0  2008-01-09            37     AARONS, CHARLES
165  166         ABEL       JOHN          H.             422 THOMAS STREET                   BETHLEHEM    PA  180153316   200.0  2008-01-22            37          ABEL, JOHN
166  167         ABEL    MARLING          L.          14 HANGING MOSS LANE                  GREENVILLE    SC  296155069   100.0  2008-01-22            37       ABEL, MARLING
167  168         ABEL    RUDOLPH                          4532 OCEAN BLVD.      # 108         SARASOTA    FL  342421337   100.0  2008-01-08            37       ABEL, RUDOLPH
168  169        ABELE     RODNEY              3620 METAIRIE HEIGHTS AVENUE                    METAIRIE    LA  700021823   500.0  2008-01-15            37       ABELE, RODNEY
169  170  ABERCROMBIE      DENIS                        11811 WATER OAK CT                    MAGNOLIA    TX  773546270   500.0  2008-01-30            37  ABERCROMBIE, DENIS
170  171     ABESHAUS    MERRILL          M.        1801 N. HEREFORD DRIVE                   FLAGSTAFF    AZ  860011121   120.0  2008-01-16            37   ABESHAUS, MERRILL
171  172      ABRAHAM     GEORGE                             P.O. BOX 1504                LAKE CHARLES    LA  706021504   800.0  2008-01-17            37     ABRAHAM, GEORGE
172  173   ABRAHAMSON      PETER          J.         1030 W. ROSCOE STREET                     CHICAGO    IL  606572207    50.0  2008-01-25            37   ABRAHAMSON, PETER
173  174      ABRAHAM      SALEM          A.                    P.O. BOX 7                    CANADIAN    TX  790140007  1000.0  2008-01-17            37      ABRAHAM, SALEM
174  175      ABRAHAM      SALEM          A.                    P.O. BOX 7                    CANADIAN    TX  790140007  1300.0  2008-01-30            37            Too Much

[175 rows x 13 columns]

## Step 6

###  Count how many donations there were above  $1000.00 .

In [21]:
contributor_cols = [col[1] for col in cursor.execute("PRAGMA table_info(contributors)")]
function = '''SELECT COUNT(amount) AS count FROM contributors WHERE amount > 1000.00'''
viz_tables(['count'], function)

   count
0     12

### Calculate the average donation.

In [22]:
contributor_cols = [col[1] for col in cursor.execute("PRAGMA table_info(contributors)")]
function = '''SELECT AVG(amount) FROM contributors'''
viz_tables(['average'], function)

    average
0  3.418114

### Calculate the average contribution from each state and display in a table.

In [23]:
contributor_cols = [col[1] for col in cursor.execute("PRAGMA table_info(contributors)")]
function = '''SELECT state, AVG(amount) FROM contributors GROUP BY state'''

viz_tables(['state', 'average amount'], function)

   state  average amount
0            -500.000000
1     AK      403.333333
2     AR     1183.333333
3     AZ      120.000000
4     CA     -217.988261
5     CO    -1455.750000
6     CT     2300.000000
7     DC     -309.982000
8     FL     -135.000000
9     IA      250.000000
10    ID     -261.000000
11    IL     -931.133333
12    KS     -330.000000
13    KY     -200.000000
14    LA      650.000000
15    MA      -13.833333
16    MD      150.000000
17    ME      630.000000
18    MI     -253.000000
19    MN      107.333333
20    MO      100.000000
21    NC      500.000000
22    NH      -24.600000
23    NJ     -408.725000
24    NV      181.250000
25    NY     -809.312500
26    OH      112.500000
27    OK      266.666667
28    PA     -429.200000
29    RI      100.000000
30    SC      800.000000
31    TN      -25.000000
32    TX      220.582222
33    UT      459.090909
34    VA      103.184000
35    WA     -166.666667