In [1]:
import pandas as pd

## INTRODUCTION

## BASIC ETHICAL ISSUES

## DATA IMPORTING:

### TODO: Import data from csv into pandas dataframe

In [4]:
df = pd.read_csv('data/crime_data.csv')
df.head(5)

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I192029187,3402,Service,ANIMAL INCIDENTS,C11,392,NaN,2019-04-20 20:04:00,2019,4,Saturday,20,Part Three,BEAUMONT ST,42.285367,-71.057504,"(42.28536673, -71.05750386)"
1,I192029173,3802,Motor Vehicle Accident Response,M/V ACCIDENT - PROPERTY DAMAGE,NaN,,NaN,2019-04-20 16:37:00,2019,4,Saturday,16,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"
2,I192029172,3114,Investigate Property,INVESTIGATE PROPERTY,E13,574,NaN,2019-04-20 16:00:00,2019,4,Saturday,16,Part Three,WASHINGTON ST,42.309719,-71.104294,"(42.30971857, -71.10429432)"
3,I192029171,3831,Motor Vehicle Accident Response,M/V - LEAVING SCENE - PROPERTY DAMAGE,B3,447,NaN,2019-04-20 21:26:00,2019,4,Saturday,21,Part Three,PARK ST,NaN,NaN,"(0.00000000, 0.00000000)"
4,I192029170,3201,Property Lost,PROPERTY - LOST,NaN,,NaN,2019-04-20 18:50:00,2019,4,Saturday,18,Part Three,NaN,NaN,NaN,"(0.00000000, 0.00000000)"

### TODO: Augment weather data (Not important at this point)

## DATA CLEANING

### TODO: Remove NA Values

### TODO: Break Boston up into grid

## EDA:

### TODO: Distribution of crimes

### TODO: Decide which crime to focus on

## BASELINE MODELS

### TODO: Random Forest

### TODO: Naives Bayes

### TODO: SVM

## FANCY NETWORK:

### TODO: Decide on Model

### TODO: Train

### TODO: Evaluation

## PREDICTION ON TOP OF SOME MAP

## EVALUATION / COMPARSION

## CONCLUSION WITH MORE DISCUSSIONS ON ETHICAL ISSUES

## REFERENCES